/* ==============================Extra Small Device============================== */
@media (max-width: 575.98px) {
  /* Nav start here */
  #nav {
    padding: 10px 0;
  }
  .navbar-light .navbar-toggler {
    border-color: transparent;
  }
  button:focus:not(:focus-visible) {
    outline: 0;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar-nav {
    padding: 15px 28px 0 0;
  }
  .nav-li .nav-link {
    font-size: 11pt;
    padding: 0 0 0 0px !important;
    text-align: end;
  }
  /* Nav end here */

  /* Banner start here */
  #banner {
    padding: 200px 0 150px 0;
  }
  .banner-text h1 {
    font-size: 26pt;
    padding-bottom: 6px;
  }
  .banner-text h2 {
    font-size: 14pt;
    padding-bottom: 4px;
  }
  /* Banner end here */

  /* Card start here */
  #card {
    padding: 38px 0;
  }
  .card_heading h2 {
    font-size: 16pt;
    padding-bottom: 15px;
  }
  .card_heading h3 {
    font-size: 11pt;
    padding-bottom: 20px;
  }
  .card_heading p {
    font-size: 15pt;
    padding-bottom: 4px;
  }
  .card-heading h4 {
    font-size: 15pt;
    padding-top: 14px;
  }
  .card-heading p {
    padding-top: 6px;
  }
  #one-section {
    padding: 20px 0;
  }
  .one h2 {
    font-size: 12pt;
    margin: 0;
  }
  .one h2::before {
    display: none;
  }
  .one h2::after {
    display: none;
  }
  /* Card end here */

  /* Contact start here */
  #contact {
    padding: 25px 0;
  }
  /* Contact end here */

  /* Card 1 start here */
  #card1 {
    padding: 32px 0 0 0;
  }
  .service-card1-wrapper {
    padding: 26px 0 15px 0;
  }
  .img-heading h5 {
    padding-bottom: 15px;
    padding-top: 0px;
  }

  .card-heading1 p {
    padding: 16px 24px 0 24px;
  }
  /* Card 1 end here */

  /* MY start here */
  #my {
    padding: 26px 0;
  }
  .about-me-img img {
    display: none;
  }
  .my-services-wrapper h2 {
    padding-bottom: 10px;
    text-align: center;
  }
  /* MY end here */

  /* Footer start here */
  #footer {
    padding: 36px 0;
  }
  .footer-heading p {
    padding-bottom: 8px;
  }
  #footer-end {
    padding: 12px 0;
  }
  .footer-end-text p {
    font-size: 9pt;
    text-align: center;
    margin: 0;
  }
  /* Footer end here */
}

/* ============================== Small Device============================== */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Nav start here */
  #nav {
    padding: 10px 0;
  }
  .navbar-light .navbar-toggler {
    border-color: transparent;
  }
  button:focus:not(:focus-visible) {
    outline: 0;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar-nav {
    padding: 15px 28px 0 0;
  }
  .nav-li .nav-link {
    font-size: 11pt;
    padding: 0 0 0 0px !important;
    text-align: end;
  }
  /* Nav end here */

  /* Banner start here */
  #banner {
    padding: 200px 0 150px 0;
  }
  .banner-text h1 {
    font-size: 26pt;
    padding-bottom: 6px;
  }
  .banner-text h2 {
    font-size: 14pt;
    padding-bottom: 4px;
  }
  /* Banner end here */

  /* Card start here */
  #card {
    padding: 38px 0;
  }
  .card_heading h2 {
    font-size: 16pt;
    padding-bottom: 15px;
  }
  .card_heading h3 {
    font-size: 11pt;
    padding-bottom: 20px;
  }
  .card_heading p {
    font-size: 15pt;
    padding-bottom: 4px;
  }
  .card-heading h4 {
    font-size: 15pt;
    padding-top: 14px;
  }
  .card-heading p {
    padding-top: 6px;
  }
  #one-section {
    padding: 20px 0;
  }
  .one h2 {
    font-size: 12pt;
    margin: 0;
  }
  .one h2::before {
    display: none;
  }
  .one h2::after {
    display: none;
  }
  /* Card end here */

  /* Contact start here */
  #contact {
    padding: 25px 0;
  }
  /* Contact end here */

  /* Card 1 start here */
  #card1 {
    padding: 32px 0 0 0;
  }
  .service-card1-wrapper {
    padding: 26px 0 15px 0;
  }
  .img-heading h5 {
    padding-bottom: 15px;
    padding-top: 0px;
  }

  .card-heading1 p {
    padding: 16px 24px 0 24px;
  }
  /* Card 1 end here */

  /* MY start here */
  #my {
    padding: 26px 0;
  }
  .about-me-img img {
    display: none;
  }
  .my-services-wrapper h2 {
    padding-bottom: 10px;
    text-align: center;
  }
  /* MY end here */

  /* Footer start here */
  #footer {
    padding: 36px 0;
  }
  .footer-heading p {
    padding-bottom: 8px;
  }
  #footer-end {
    padding: 12px 0;
  }
  .footer-end-text p {
    font-size: 9pt;
    text-align: center;
    margin: 0;
  }
  /* Footer end here */
}
